{% extends 'base2.html' %}


{% block head %}
<title>Add Customer</title>
{% endblock %}


{% block body %}
<div class="loginMainDiv">
<h1 style="text-align: center;">Add Customer</h1>
    <form action="/create_customer" method="post" class="loginForm">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" class="loginFormInput">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" class="loginFormInput">
        <label for="address_line1">Address Line 1:</label>
        <input type="text" name="address_line1" class="loginFormInput">
        <label for="address_line2">Address Line 2:</label>
        <input type="text" name="address_line2" class="loginFormInput">
        <label for="city">City:</label>
        <input type="text" name="city" class="loginFormInput">
        <label for="state">State:</label>
        <input type="text" name="state" class="loginFormInput">
        <label for="zip">Zip Code:</label>
        <input type="text" name="zip" class="loginFormInput">
        <label for="lawn_sqft">Lawn Square Feet:</label>
        <input type="number" name="lawn_sqft" class="loginFormInput">
        <div class="loginFormButtonDiv">
            <input type="submit" value="Add Customer" class="loginFormButton">
        </div>
    </form>
</div>
{% endblock %}